* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.Link {
  text-decoration: none;
  color: #2c3e50;
}
.Link:hover {
  color: #2c3e50;
  opacity: 0.7;
}
.logo {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.formSearch {
  min-width: 50%;
}

#starsColor {
  margin-top: 10px;
  color: #f8e825;
}

.cardsContainer {
  display: flex;
  text-align: center;
  max-width: fit-content;
  max-height: fit-content;
  padding: 10px 20px;
  margin: 5px 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardsContainer:hover {
  cursor: pointer;
  opacity: 0.7;
}

.FilterBarBtns {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding: 15px;
}

.FilterBarBtns Button,
.allMoviesAndTvBtn .link {
  text-decoration: none;
  margin: 0px 30px;
  padding: 5px;
}

.leftLink {
  margin: 0px 20px;
  padding: 5px;
}

.Pagination {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 5px;
}
